###  <font color='green' size=5> HW #6: Air Quality - Cassandra  </font> 

**NoSQL** <br>
**ANLT 243** <br>
**September 22, 2018** <br>
<br>

<font color='green' size=4> By: Ali Taheri</font>

At first, we prepare environment for access to database:

In [176]:
from cassandra.cluster import Cluster
import json

host = 'ec2-54-67-15-68.us-west-1.compute.amazonaws.com'
port = 9220

cluster = Cluster([host], port = port)

session = cluster.connect()

session.set_keyspace('nosql')

##  <font color='blue' size=4> 1. How many total records are there in this air_quality table ?  </font>

In [177]:
rows = session.execute('Select count(measureid) from air_quality')

for row in rows:
    print('Number of records in table of air quality is:', row.system_count_measureid)

Number of records in table of air quality is: 218635

##  <font color='blue' size=4> 2. What was the air quality metric value for MeasureId 83 in the Sandoval county in the state of New Mexico in 2013 ?  </font>

In [178]:
county_stmt = session.prepare("Select * from air_quality where measureid=? and countyname=? and statename=? and reportyear=?")
rows = session.execute(county_stmt, [83, 'Sandoval','New Mexico',2013])

for row in rows:
    print(' The air quality metric value for MeasureId 83 in the Sandoval county in the state of New Mexico in 2013 is:', row.value)

 The air quality metric value for MeasureId 83 in the Sandoval county in the state of New Mexico in 2013 is: 0

##  <font color='blue' size=4> 3.Which state and county have the highest recorded air quality value of MeasureId 87 in any year ?  </font>

In [172]:
rows = session.execute('Select max(value) , countyname, statename, reportyear from air_quality where measureid=87')
for row in rows:
    print('The county with max of 87 measureid is :', row.countyname)
    print('The state with max of 87 measureid is  :', row.statename)
    print('The year with max of 87 measureid is   :', row.reportyear)
    print('The max of 87 measureid is             :', row.system_max_value)

The county with max of 87 measureid is : Clay
The state with max of 87 measureid is  : Alabama
The year with max of 87 measureid is   : 1999
The max of 87 measureid is             : 51

At this point, we try to find other maximums with tha same value of above county.

In [181]:
rows = session.execute('Select  countyname, statename, reportyear, value from air_quality where measureid=87 and value=51 limit 1 ALLOW FILTERING')
for row in rows:
    print('The county with max of 87 measureid is :', row.countyname)
    print('The state with max of 87 measureid is  :', row.statename)
    print('The year with max of 87 measureid is   :', row.reportyear)
    print('The max of 87 measureid is             :', row.value)

The county with max of 87 measureid is : Fairbanks North Star
The state with max of 87 measureid is  : Alaska
The year with max of 87 measureid is   : 2004
The max of 87 measureid is             : 51

In [1]:
rows = session.execute("Select  countyname, statename, reportyear, value from air_quality where value=51")
for row in rows:
    print('The county with max of 87 measureid is :', row.countyname)
    print('The state with max of 87 measureid is  :', row.statename)
    print('The year with max of 87 measureid is   :', row.reportyear)
    print('The max of 87 measureid is             :', row.value)

NameError: name 'session' is not defined

##  <font color='blue' size=4> 4-Print the average of air quality value and the unit for MeasureId 84, State - Massachusetts, CountyName - Barnstable, for years between 2002 - 2008 ?  </font>

In [154]:
rows = session.execute("Select avg(value) , unitname from air_quality where measureid = 84 and statename = 'Massachusetts' \
                       and countyname ='Barnstable' and reportyear in (2002,2003,2004,2005,2006,2007,2008) " )                     
for row in rows:
    print('The average value of air quality value and the unit for MeasureId 84,\
    State - Massachusetts, CountyName - Barnstable, for years between 2002 - 2008 is :', \
          row.system_avg_value , row.unitname)

The average value of air quality value and the unit for MeasureId 84,    State - Massachusetts, CountyName - Barnstable, for years between 2002 - 2008 is : 2607774 No Units