###  <font color='green' size=5> HW #3: RFM Analysis
</font> 

**Customer Analytics** <br>
**ANLT 274** <br>
**November 10, 2018** <br>
<br>

<font color='green' size=4> By: Ali Taheri</font>

In [6]:
# Import necessary packages

import pandas as pd
from datetime import timedelta
import matplotlib.pyplot as plt

This dataset is from UCI Machine Learning repository.

In [39]:
df = pd.read_excel('Online Retail.xlsx')

print(df.shape)

df.head(5)

(541909, 8)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

This dataset has about 550K observatoins of 8 attributes.

In [40]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [41]:
len(df[df['CustomerID'] .isnull()])

135080

It shows we have 1350,080 records without Customer ID and we need to remove stated records.

In [42]:
df.dropna(subset=['CustomerID'], inplace=True)

In [43]:
print('Orders from {} to {}'.format(df['InvoiceDate'].min(), df['InvoiceDate'].max()))

Orders from 2010-12-01 08:26:00 to 2011-12-09 12:50:00

Our time window is 1 year, so we could do analysis for one complete year.

In [49]:
df['Price'] = df['Quantity'] * df['UnitPrice']

We make a new column of 'Price' that shows money that customer spent.

In [50]:
sales['InvoiceNo'].value_counts().head()

576339    542
579196    533
580727    529
578270    442
573576    435
Name: InvoiceNo, dtype: int64

We checked uniqueness of invoice number. It seems there are some invoices with a lot of records, so we aggregate dataframe with InvoiceNo, InvoiceDate and CustomerID.

In [51]:
orders = df.groupby(['InvoiceNo', 'InvoiceDate', 'CustomerID']).agg({'Price': lambda x: x.sum()}).reset_index()
orders.head()

  InvoiceNo         InvoiceDate  CustomerID   Price
0    536365 2010-12-01 08:26:00     17850.0  139.12
1    536366 2010-12-01 08:28:00     17850.0   22.20
2    536367 2010-12-01 08:34:00     13047.0  278.73
3    536368 2010-12-01 08:34:00     13047.0   70.05
4    536369 2010-12-01 08:35:00     13047.0   17.85

In [52]:
NOW = orders['InvoiceDate'].max() + timedelta(days=1)
period = 365
NOW

Timestamp('2011-12-10 12:50:00')

We configure current date to 1 day after last purchase for a reference. Additionally, our period is 365 days. Now, we will all a column that shows number of days from date of invoice until now.

In [53]:
orders['DaysSinceOrder'] = orders['InvoiceDate'].apply(lambda x: (NOW - x).days)

In [54]:
orders.head()

  InvoiceNo         InvoiceDate  CustomerID   Price  DaysSinceOrder
0    536365 2010-12-01 08:26:00     17850.0  139.12             374
1    536366 2010-12-01 08:28:00     17850.0   22.20             374
2    536367 2010-12-01 08:34:00     13047.0  278.73             374
3    536368 2010-12-01 08:34:00     13047.0   70.05             374
4    536369 2010-12-01 08:35:00     13047.0   17.85             374

In [56]:
x=orders.loc[0,'InvoiceDate']
len([d for d in x if d >= NOW - timedelta(days=period)])

In [62]:
timedelta(days=period)

datetime.timedelta(days=365)

Recency would be minimum of DaysSinceOrder for each customer and

In [63]:
aggr = {
    'DaysSinceOrder': lambda x: x.min(),  # the number of days since last order (Recency)
    'InvoiceDate': lambda x: len([d for d in x if d >= NOW - timedelta(days=period)]), # the total number of orders in the last period (Frequency)
}
rfm = orders.groupby('CustomerID').agg(aggr).reset_index()
rfm.rename(columns={'DaysSinceOrder': 'Recency', 'InvoiceDate': 'Frequency'}, inplace=True)
rfm.head()

   CustomerID  Recency  Frequency
0     12346.0      326          2
1     12347.0        2          6
2     12348.0       75          4
3     12349.0       19          1
4     12350.0      310          1

We made Recency and Frequency until now. let's go for Monetary.

In [64]:
rfm['Monetary'] = rfm['CustomerID'].apply(lambda x: orders[(orders['CustomerID'] == x) & \
                                                           (orders['InvoiceDate'] >= NOW - timedelta(days=period))]\
                                                           ['Price'].sum())
rfm.head()

   CustomerID  Recency  Frequency  Monetary
0     12346.0      326          2      0.00
1     12347.0        2          6   3598.21
2     12348.0       75          4   1797.24
3     12349.0       19          1   1757.55
4     12350.0      310          1    334.40

Now, we would assign ranks of 1 to 5 based on quintiles.

In [65]:
quintiles = rfm[['Recency', 'Frequency', 'Monetary']].quantile([.2, .4, .6, .8]).to_dict()
quintiles

{'Recency': {0.2: 11.0, 0.4: 32.0, 0.6: 71.0, 0.8: 178.80000000000018},
 'Frequency': {0.2: 1.0, 0.4: 2.0, 0.6: 3.0, 0.8: 6.0},
 'Monetary': {0.2: 215.89800000000002,
  0.4: 440.432,
  0.6: 876.3679999999999,
  0.8: 1909.6580000000006}}

Required functions for assigning ranks are as below:

In [67]:
def r_score(x):
    if x <= quintiles['Recency'][.2]:
        return 5
    elif x <= quintiles['Recency'][.4]:
        return 4
    elif x <= quintiles['Recency'][.6]:
        return 3
    elif x <= quintiles['Recency'][.8]:
        return 2
    else:
        return 1
    
def fm_score(x, c):
    if x <= quintiles[c][.2]:
        return 1
    elif x <= quintiles[c][.4]:
        return 2
    elif x <= quintiles[c][.6]:
        return 3
    elif x <= quintiles[c][.8]:
        return 4
    else:
        return 5

In [68]:
rfm['R'] = rfm['Recency'].apply(lambda x: r_score(x))
rfm['F'] = rfm['Frequency'].apply(lambda x: fm_score(x, 'Frequency'))
rfm['M'] = rfm['Monetary'].apply(lambda x: fm_score(x, 'Monetary'))

In [69]:
rfm['RFM Score'] = rfm['R'].map(str) + rfm['F'].map(str) + rfm['M'].map(str)
rfm.head()

   CustomerID  Recency  Frequency  Monetary  R  F  M RFM Score
0     12346.0      326          2      0.00  1  2  1       121
1     12347.0        2          6   3598.21  5  4  5       545
2     12348.0       75          4   1797.24  2  4  4       244
3     12349.0       19          1   1757.55  4  1  4       414
4     12350.0      310          1    334.40  1  1  2       112