#  <font color='green' size=5> Assignment #1
</font> 

**Time Series Analysis** <br>
**ANLT 207** <br>
**November 11, 2018** <br>
<br>

<font color='green' size=4> By: Ali Taheri</font>

At this project, we would try to analyze the trend of religious adherence in all areas of the world from 1945 until now. There is much discussion about the correlation of this adherence with technology (especially the Internet) because some people believe that religious adherence is declining due to the empowering of communication technology and social media. We would evaluate this belief with a detailed inspection of the following dataset.

##  <font color='blue' size=4> 1. Loading Datasets  </font>

In [22]:
import pandas as pd

national_df = pd.read_csv('national.csv')

national_df.shape

(1995, 79)

In [23]:
national_df.head(3)

,year,state,code,christianity_protestant,christianity_romancatholic,christianity_easternorthodox,christianity_anglican,christianity_other,christianity_all,judaism_orthodox,...,jainism_percent,confucianism_percent,syncretism_percent,animism_percent,noreligion_percent,otherreligion_percent,religion_sumpercent,total_percent,dual_religion,source_code
0,1945,United States of America,USA,66069671,38716742,1121898,2400000,1956807,110265118,821489,...,0.0,0.0,0.0,0.0,0.1635,0.0039,0.9961,1.0000,0,13
1,1950,United States of America,USA,73090083,42635882,3045420,3045420,1177214,122994019,1078078,...,0.0,0.0,0.0,0.0,0.1482,0.0041,0.9959,1.0000,0,18
2,1955,United States of America,USA,79294628,46402368,3454916,2572767,2277091,134001770,944000,...,0.0,0.0,0.0,0.0,0.1404,0.0193,0.9807,0.9999,0,15

In [24]:
national_df.dtypes

year                              int64
state                            object
code                             object
christianity_protestant           int64
christianity_romancatholic        int64
christianity_easternorthodox      int64
christianity_anglican             int64
christianity_other                int64
christianity_all                  int64
judaism_orthodox                  int64
judaism_conservative              int64
judaism_reform                  float64
judaism_other                     int64
judaism_all                       int64
islam_sunni                       int64
islam_shi’a                       int64
islam_ibadhi                      int64
islam_nationofislam               int64
islam_alawite                     int64
islam_ahmadiyya                   int64
islam_other                     float64
islam_all                         int64
buddhism_mahayana                 int64
buddhism_theravada                int64
buddhism_other                    int64
buddhism_all                      int64
zoroastrianism_all                int64
hinduism_all                      int64
sikhism_all                       int64
shinto_all                        int64
                                 ...
otherjudaism_percent            float64
judaism_percent                 float64
sunni_percent                   float64
shi’a_percent                   float64
ibadhi_percent                  float64
nationofislam_percent             int64
alawite_percent                 float64
ahmadiyya_percent               float64
otherislam_percent              float64
islam_percent                   float64
mahayana_percent                float64
theravada_percent               float64
otherbuddhism_percent           float64
buddhism_percent                float64
zoroastrianism_percent          float64
hinduism_percent                float64
sikhism_percent                 float64
shinto_percent                  float64
baha’i_percent                  float64
taoism_percent                  float64
jainism_percent                 float64
confucianism_percent            float64
syncretism_percent              float64
animism_percent                 float64
noreligion_percent              float64
otherreligion_percent           float64
religion_sumpercent             float64
total_percent                   float64
dual_religion                     int64
source_code                       int64
Length: 79, dtype: object

Fortounately we do not have any datatype problems and it is immediately consumable.

In [25]:
print(national_df['state'].unique())

['United States of America' 'Canada' 'Bahamas' 'Cuba' 'Haiti'
 'Dominican Republic' 'Jamaica' 'Trinidad and Tobago' 'Barbados'
 'Dominica' 'Grenada' 'St. Lucia' 'St. Vincent and the Grenadines'
 'Antigua & Barbuda' 'St. Kitts and Nevis' 'Mexico' 'Belize' 'Guatemala'
 'Honduras' 'El Salvador' 'Nicaragua' 'Costa Rica' 'Panama' 'Colombia'
 'Venezuela' 'Guyana' 'Suriname' 'Ecuador' 'Peru' 'Brazil' 'Bolivia'
 'Paraguay' 'Chile' 'Argentina' 'Uruguay' 'United Kingdom' 'Ireland'
 'Netherlands' 'Belgium' 'Luxembourg' 'France' 'Monaco' 'Liechtenstein'
 'Switzerland' 'Spain' 'Andorra' 'Portugal' 'Germany'
 'German Federal Republic' 'German Democratic Republic' 'Poland' 'Austria'
 'Hungary' 'Czechoslovakia' 'Czech Republic' 'Slovakia' 'Italy'
 'San Marino' 'Malta' 'Albania' 'Montenegro' 'Macedonia' 'Croatia'
 'Yugoslavia' 'Bosnia and Herzegovina' 'Kosovo' 'Slovenia' 'Greece'
 'Cyprus' 'Bulgaria' 'Moldova' 'Romania' 'Russia' 'Estonia' 'Latvia'
 'Lithuania' 'Ukraine' 'Belarus' 'Armenia' 'Georgia' 'Azerbaijan'
 'Finland' 'Sweden' 'Norway' 'Denmark' 'Iceland' 'Cape Verde'
 'Sao Tome and Principe' 'Guinea-Bissau' 'Equatorial Guinea' 'Gambia'
 'Mali' 'Senegal' 'Benin' 'Mauritania' 'Niger' 'Ivory Coast' 'Guinea'
 'Burkina Faso' 'Liberia' 'Sierra Leone' 'Ghana' 'Togo' 'Cameroon'
 'Nigeria' 'Gabon' 'Central African Republic' 'Chad' 'Congo'
 'Democratic Republic of the Congo' 'Uganda' 'Kenya' 'Tanzania' 'Burundi'
 'Rwanda' 'Somalia' 'Djibouti' 'Ethiopia' 'Eritrea' 'Angola' 'Mozambique'
 'Zambia' 'Zimbabwe' 'Malawi' 'South Africa' 'Namibia' 'Lesotho'
 'Botswana' 'Swaziland' 'Madagascar' 'Comoros' 'Mauritius' 'Seychelles'
 'Morocco' 'Algeria' 'Tunisia' 'Libya' 'Sudan' 'Iran' 'Turkey' 'Iraq'
 'Egypt' 'Syria' 'Lebanon' 'Jordan' 'Israel' 'Saudi Arabia'
 'Yemen Arab Republic' 'Yemen' "Yemen People's Republic" 'Kuwait'
 'Bahrain' 'Qatar' 'United Arab Emirates' 'Oman' 'Afghanistan'
 'Turkmenistan' 'Tajikistan' 'Kyrgyzstan' 'Uzbekistan' 'Kazakhstan'
 'China' 'Mongolia' 'Taiwan' 'North Korea' 'South Korea' 'Japan' 'India'
 'Bhutan' 'Pakistan' 'Bangladesh' 'Myanmar' 'Sri Lanka' 'Maldives' 'Nepal'
 'Thailand' 'Cambodia' 'Laos' 'Vietnam' 'Republic of Vietnam' 'Malaysia'
 'Singapore' 'Brunei' 'Philippines' 'Indonesia' 'East Timor' 'Australia'
 'Papua New Guinea' 'New Zealand' 'Vanuatu' 'Solomon Islands' 'Kiribati'
 'Tuvalu' 'Fiji' 'Tonga' 'Nauru' 'Marshall Islands' 'Palau'
 'Federated States of Micronesia' 'Samoa']

In [26]:
print(len(national_df['state'].unique()))

200

It has information of about 200 countries of the world.

In [27]:
print(national_df['year'].unique())

[1945 1950 1955 1960 1965 1970 1975 1980 1985 1990 1995 2000 2005 2010]

Our dataset has information from 1945 until 2010.